<div id="city-signers" class="wrapper">
    <p id="city-peeps">WE PEOPLE FROM #{{city}} SUPPORT UNIVERSAL INCOME</p>
  {{#each infos}}
    <ul>
      <li style="list-style-type:none;">{{first}} {{last}}</li>
  {{/each}}
  </ul>
  <a href="/thank-you"><button class="button">BACK</button></a>
</div>
