<div class="wrapper">
<div id="logInArea">
  <h1>WELCOME BACK</h1>
  <form action="logedIn" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="inputs">
      <input type="email" placeholder="Email Address" name="email">
      <input type="password" placeholder="Password" name="password">
      <button class="button">LOG IN</button>
    </div>
</div>
</div>
