<div class="wrapper">
  <h1>JOIN OUR CAMPAIGN FOR UNIVERSAL INCOME</h1>
<div id="registerArea">
  <form action="/registered" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="inputs">
      <input type="text" placeholder="First-Name" name="first">
      <input type="text" placeholder="Last-Name" name="last">
      <input type="email" placeholder="Email Address" name="email">
      <input type="password" placeholder="Password" name="password">
      <button class="button">SIGN UP</button>
    </div>
  </form>
  <p>If you are already a member, please <a href="/login">log in.</a></p>
</div>
</div>
