<div class="wrapper">
  <div id="thankYouArea">
    <h2> THANK YOU, NOW GET BACK TO WORK BECAUSE IT WILL NOT HAPPEN ANYTIME SOON</h2>
    <a href="/sig-page">See all signers</a>
    <a href="/edit_profile">Edit your profile</a>
    <a href="/delete-sig">Delete your signature</a>
  </div>
  <div id="signatureBox">
    <img src="{{signature}}">
  </div>
</div>
