<div id="featuresArea" class="wrapper">
  <h2>TELL US A BIT MORE ABOUT YOURSELF.</h2>
  <form action="/continue" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="inputs">
      <input type="number" placeholder="Age" name="age">
      <input type="text" placeholder="City" name="city">
      <input type="text" placeholder="Homepage" name="url">
      <button class="button">CONTINUE</button>
    </div>
  </form>
</div>
